@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.ContactInfo {
	@include defaults.flex-center;

	margin: 10px;

	font-size: 128px;

	&__Link {
		color: palette.$font-dark;
		text-decoration: none;
		padding: 20px 30px;

		&:visited {
			color: palette.$font-dark;
		}

		&:hover {
			border-radius: 20px;

			color: palette.$font-light;
			background-color: palette.$accent;
		}

		&:active {
			color: white;
		}
	}
}
