@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.LanguageCard {
	flex-direction: column;

	min-height: 80vh;
	padding-bottom: 20vh;

	&__Grid {
		display: grid;
		grid-template-rows: repeat(5, 120px);

		@include devices.phone {
			grid-template-columns: repeat(2, 120px);
		}

		@include devices.tablet {
			grid-template-columns: repeat(3, 120px);
		}

		@include devices.desktop {
			grid-template-columns: repeat(4, 120px);
		}

		justify-content: center;
		list-style: none;

		padding: 40px;

		& > * {
			@include defaults.flex-center;

			@include devices.phone {
				height: 100%;
				width: 100%;
			}

			@include devices.tablet {
				height: 100%;
				width: 100%;
			}

			@include devices.desktop {
				height: 100px;
				width: 100px;
			}

			margin: 10px;

			/* color: palette.$highlight; */
			/* background-color: palette.$light; */

			font-size: 72px;
		}
	}

	&__Title {
		margin: 40px;
	}
}
