@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.BusinessCard {
	@include defaults.flex-center;
	flex-direction: column;

	min-height: 80vh;

	&__Image {
		display: block;
	}

	&__Subtitle {
		display: block;
	}

	&__Content {
		@include defaults.flex-center;

		@include devices.phone {
			flex-direction: column;

			padding: 10vw;
		}
		@include devices.tablet {
			flex-direction: column;

			padding: 10vw;
		}
		@include devices.desktop {
			flex-direction: row;

			padding: 40px;
		}
	}

	&__List {
		list-style: none;
	}

	&__Image {
		@include devices.phone {
			width: 40vw;
			height: 40vw;
		}
		@include devices.tablet {
			width: 40vw;
			height: 40vw;
		}
		@include devices.desktop {
			width: 200px;
			height: 200px;
		}

		margin: 20px;
		border: 5px solid white;
		border-radius: 5px;
	}
}
