@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.Contact {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: calc(100vh - 70px);
	padding: 0px 40px;

	background-color: palette.$neutral;
	font-family: typography.$main;
}
