@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.ProjectDescription {
	display: flex;
	flex-direction: column;
	padding: 40px;

	&__Heading {
		@include devices.phone {
			width: 70vw;
		}
		@include devices.tablet {
			width: 70vw;
		}

		margin: 0;
		padding: 0px 20px;
	}

	&__Body {
		display: flex;
		flex-direction: column;
		@include devices.phone {
			order: -1;
		}
		@include devices.tablet {
			order: -1;
		}

		margin: 0;
		padding: 0px 20px;
	}
}
