@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

$shadow: palette.$shadow;
$background: palette.$light;
$title-font: palette.$highlight;

$button-font: palette.$dark;
$button-shadow: palette.$shadow;

$button-background: palette.$light;
$button-hover: palette.$bright;
$button-active: palette.$highlight;
$button-visited: palette.$light;

.NavigationBar {
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;

	width: 100%;
	min-height: 70px;

	padding: 0px;
	/* margin-bottom: 70px; */

	display: flex;
	justify-content: end;
	align-items: center;
	list-style: none;

	box-shadow: 0px 6px 4px palette.$page-shadow;
	box-shadow: 0px 5px 0px 0px palette.$accent;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;

	color: palette.$font-dark;
	background-color: palette.$page-background;

	z-index: 1;

	&__Icon {
		position: absolute;
		left: 0;
		margin: 20px;
	}

	&__Toggle {
		position: fixed;
		top: 0px;
		right: 0px;

		opacity: 0%;

		height: 70px;
		width: 70px;

		align-self: start;
		order: 1;
		z-index: 10;

		cursor: pointer;

		&Label {
			position: fixed;
			top: 0px;
			right: 0px;
			margin: 0px 10px;

			@include defaults.flex-center;

			font-size: 50px;
		}

		@include devices.phone {
			display: block;

			&Label {
				display: flex;
			}
		}

		@include devices.tablet {
			display: block;

			&Label {
				display: flex;
			}
		}

		@include devices.desktop {
			display: none;

			&Label {
				display: none;
			}
		}

		&Label::after {
			content: "☰";
		}

		&:checked {
			height: 70px;
			width: 70px;

			& ~ .NavigationBar__Icon {
				display: none;
			}

			& ~ .NavigationBar__Buttons {
				display: flex;
			}

			& + .NavigationBar__ToggleLabel::after {
				color: palette.$font-dark;
				content: "\002716";
			}
		}
	}

	&__Buttons {
		display: flex;
		justify-content: end;

		@include devices.phone {
			display: none;
			flex-direction: column;
			justify-content: flex-start;
			width: 100vw;
		}

		@include devices.tablet {
			display: none;
			flex-direction: column;
			justify-content: flex-start;
			width: 100vw;
		}

		@include devices.desktop {
			@include defaults.flex-center;
			flex-direction: row;
		}

		& > * {
			@include defaults.flex-center;

			@include devices.phone {
				width: 100vw;
			}

			@include devices.tablet {
				width: 100vw;
			}

			@include devices.desktop {
				width: 200px;
			}
			height: 70px;

			/* padding: 20px; */

			text-decoration: none;
			color: palette.$font-dark;

			&:hover {
				color: palette.$font-light;
				background-color: palette.$page-accent;
				box-shadow: 0px 6px 4px palette.$page-shadow;
			}

			&:active {
				background-color: palette.$page-highlight;
			}
		}
	}
}
