@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.App {
	@include defaults.flex-center;
	flex-direction: column;

	padding: 0px;

	background-color: palette.$dark;
}

.Body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include devices.phone {
		width: 100vw;
	}
	@include devices.tablet {
		width: 100vw;
	}
	@include devices.desktop {
		width: 800px;
	}

	font-family: typography.$main;

	color: palette.$font-light;
	background-color: palette.$light;

	box-shadow: 0px 6px 24px palette.$shadow;
}
