@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.ProjectPreview {
	display: block;
	margin: 0;
	padding: 40px;

	@include devices.phone {
		padding-top: 0px;
	}
	@include devices.tablet {
		padding-top: 0px;
	}

	&__Image {
		width: 200px;
		height: 200px;
		margin: 40px;
		border-radius: 50px;
		object-fit: cover;
	}

	&__Link {
		text-decoration: none;

		&:link {
			color: palette.$accent;
		}
		&:visited {
			color: palette.$accent;
		}
		&:active {
			color: palette.$highlight;
		}
		&:hover {
			color: palette.$highlight;
		}
	}

	&__Source {
		text-decoration: none;
	}

	&__Languages {
		display: flex;
		justify-content: center;
		font-size: 32px;
		letter-spacing: 10px;

		color: palette.$font-neutral;

		margin: 0;
	}
}

.Odd {
	background: #fefefe;
	box-shadow: 20px 20px 60px #b2b2b2, -20px -20px 60px #ffffff;
}

.Even {
	background: #eeeeee;
	box-shadow: 20px 20px 60px #a7a7a7, -20px -20px 60px #ffffff;
}
